<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/main.css">
    <title>Rock Collection</title>
  </head>
  <body>
    <h2>Check out your rock collection!</h2>
    <ul>
      {{#collResults}}
        <div class="rockDiv">
          <p>ID: {{id}}</p>
          <p>Description: {{description}}</p>
          <p>Color: {{color}}</p>
          <p>Shape: {{shape}}</p>
          <p>Size in mm: {{sizeInMM}}</p>
          <p>Type: {{type}}</p>
          <p>Found in: {{#foundLocation}}{{city}}, {{state}}{{/foundLocation}}</p>
          <p>Found on: {{foundDate}}</p>
        </div>
      {{/collResults}}
    </ul>
    <form class="add" action="/add" method="post">
      <fieldset class="bucket">
        <legend>Add a rock to the collection!</legend>
        <label for="desc">Enter a description of the rock</label>
        <textarea rows="2" cols="75" maxlength="140" name="desc" required></textarea><br>
        <label for="color">What color was it?</label>
        <input type="text" name="color" placeholder="color?" required><br>
        <label for="shape">What shape was it?</label>
        <input type="text" name="shape"><br>
        <label for="size">How big was it (in millimeters)?</label>
        <input type="text" name="size" required><br>
        <label for="type">What type of stone was it?</label>
        <input type="text" name="type" required><br>
        <label>Where did you find it?</label>
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State"><br>
        <label for="date">When did you find it?</label>
        <input type="date" name="date" required><br>
        <button type="submit" name="submit">Add a rock!</button>
      </fieldset>
    </form>
    <form class="update" action="/update" method="post">
      <fieldset class="bucket">
        <legend>Update a rock in the collection!</legend>
        <label for="id">Which rock do you want to update?</label>
        <input type="text" name="id" placeholder="Enter the ID"><br><br>
        <label for="updateDesc">Enter a description of the rock</label>
        <textarea rows="2" cols="75" maxlength="140" name="updateDesc"></textarea><br>
        <label for="updateColor">What color was it?</label>
        <input type="text" name="updateColor" placeholder="color?"><br>
        <label for="updateShape">What shape was it?</label>
        <input type="text" name="updateShape"><br>
        <label for="updateSize">How big was it (in millimeters)?</label>
        <input type="text" name="updateSize"><br>
        <label for="updateType">What type of stone was it?</label>
        <input type="text" name="updateType"><br>
        <label>Where did you find it?</label>
        <input type="text" name="updateCity" placeholder="City">
        <input type="text" name="updateState" placeholder="State"><br>
        <label for="updateDate">When did you find it?</label>
        <input type="date" name="updateDate"><br>
        <button type="submit" name="submit">Update a rock!</button>
      </fieldset>
    </form>
    <form class="delete" action="/delete" method="post">
      <fieldset class="bucket">
        <legend>What rock do you want to delete?</legend>
        <label for="desc4">Enter a description of the rock</label>
        <textarea rows="2" cols="75" maxlength="140" name="desc4"></textarea><br>
        <label for="color4">What color was it?</label>
        <input type="text" name="color4" placeholder="color?"><br>
        <label for="shape4">What shape was it?</label>
        <input type="text" name="shape4"><br>
        <label for="size4">How big was it (in millimeters)?</label>
        <input type="text" name="size4"><br>
        <label for="type4">What type of stone was it?</label>
        <input type="text" name="type4"><br>
        <label for="location4">Where did you find it?</label>
        <input type="text" name="location4" placeholder="City">
        <input type="text" name="location4" placeholder="State"><br>
        <label for="date4">When did you find it?</label>
        <input type="date" name="date4"><br>
        <button type="submit" name="submit">Delete a rock!</button>
      </fieldset>
    </form>
  </body>
</html>
